* {
    font-family: "Trebuchet MS", "Segoe UI", Candara, Verdana, sans-serif;
}

#upload {
    background-color: rgb(237, 237, 238);
}

#upload label {
    font-weight: bold;
}

#filedrag {
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 3em 0;
    margin: 1em 0;
    color: #555;
    background-color: rgb(183, 216, 243);
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

#filedrag.hover {
    color: rgb(38, 135, 214);
    border-color: rgb(38, 135, 214);
    border-style: solid;
    box-shadow: inset 0 1px 1px #888;
}

#caption {
    font-size: 150%;
}

img {
    max-width: 400px;
    max-height: 400px;
}

td {
    padding: 0 1em;
}

td.image {
    vertical-align: bottom;
}